run = "bash replit_run.sh"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "bash replit_run.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8501
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
